th, td {
    padding: .5%;
    border-bottom: 1px solid #ddd;
}

thead {
    color: #ee2a2f;
}

tr {
    cursor: pointer;
    text-align: center;
}

td {
    padding: 1%;
}

tbody:hover {
    color: white;
    background-color: #ee2a2f;
}
